$pastelGreen: #DAD7CD;
$lightGreen: #A3B18A;
$fernGreen: #588157;
$hunterGreen: #3A5A40;
$darkGreen: #344E41;
$font: 'Pacifico',
cursive;
body {
    color: $darkGreen
}

.heading {
    font-family: 'Pacifico', cursive;
    font-size: 60px
}

.btn-style {
    text-decoration: none;
    padding: 10px 10px;
    background: $lightGreen;
    margin: 10px auto;
    color: #fff;
    max-width: 150px;
    transition: all 0.2s linear;
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn-style:hover {
    background: $darkGreen;
    color: #fff;
}