@import "../../styles";

.nav-bar {
    background-color: $lightGreen;
}

a {
    color: $hunterGreen;
    font-size: 1.5rem;
    --bs-navbar-active-color: $hunterGreen;
   
}

.brand {
    font-family: $font;
    font-size: 4rem;
    color: $pastelGreen;
    text-decoration: none;
}

.logo {
    filter: invert(95%) sepia(9%) saturate(191%) hue-rotate(9deg) brightness(93%) contrast(86%);
    height: 6rem;
    transform: scaleX(-1);
}