@import "../../styles";

nav {
    background-color: $lightGreen;

    a {
        color: $hunterGreen;
        font-size: 1.5rem;
        --bs-navbar-active-color: $hunterGreen;
    }

    a:active {
        font-weight: bold;
    }

    button {
        --bs-navbar-toggler-margin-y: 10px
    }
}


.brand {
    font-family: $font;
    font-size: 4rem;
    color: $pastelGreen;
    text-decoration: none;
    margin-bottom: -20px
}

.logo {
    filter: invert(95%) sepia(9%) saturate(191%) hue-rotate(9deg) brightness(93%) contrast(86%);
    height: 6rem;
    transform: scaleX(-1);
}

