@import "../../styles.scss";
.container {
    color: rgb(52, 78, 65);
    display: flex;
    justify-content: center;
    // align-items: center;
}

label {
    font-size: large;
}

.heading {
    text-align: center;
}

.hero-contact {
    background-image: url(https://cdn.pixabay.com/photo/2012/11/24/07/26/photographer-67127_1280.jpg);
    background-size: cover;
    height: 70vh;
    background-position: center;
}

.btn-style {
    display: flex;
    justify-content: center;
}

.input {
    width: 30vw;
}

.textarea {
    width: 30vw;
}

li {
    list-style: none;
}

iframe {
    width: 500px;
}

.iframe {
    width: 500px;
}