<app-hero></app-hero>
<section class="mb-5">
    <div class="container-fluid container-md d-flex flex-column flex-md-row align-items-center">
        <img src="/assets/img/fotographer/fotographer_1.jpg" alt="portrait of Florian Stone" class="my-5 me-md-5">
        <div>
            <p class="fst-italic pt-md-5">I got my first camera at the age of 12. It was one of those pocket cameras of the mid
                90s where the film
                container almost looked like opera glasses. They used these crazy flash cubes that once used displayed
                all the
                colors of the most weird chemical reaction. Can you still rembember that? If not, don't worry, you're
                probably
                just to young. I just wanted to tell you were my passion for fotography started. Later on I realized
                photography
                is not only about the process from reflected light to the image it's more about people and lives.</p>
            <figure class="w-75 text-center mt-5 mx-auto">
                <blockquote class="blockquote">
                    <p>A camera is a magical box that captures light and transforms it into the most lovely memories of
                        a
                        lifetime.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer mb-5">
                    Florian Stone, <span class="fst-italic">Vienna</span>
                </figcaption>
            </figure>
        </div>
    </div>
</section>

<app-portfolio></app-portfolio>