@import "../../styles";

section {
    background-color: $pastelGreen;

    img {
        width: 300px;
        box-shadow: -50px -50px 0 -40px $fernGreen, 50px 50px 0 -40px $fernGreen;
    }

    p {
        color: $hunterGreen
    }
}