@import "../../styles.scss";
.copyright {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.footer {
    background-color: $fernGreen;
    color: $pastelGreen;
}

i {
    font-size: 30px
}

.social {
    gap: 3rem
}

@media screen and (max-width: 480px) {
    .social {
        gap: 10px
    }
}