<footer class="footer">
    <div class="p-3 d-flex justify-content-center gap-5 align-items-center social">
        <i class='fa fa-instagram' role="button"></i>
        <i class="fa fa-pinterest" role="button"></i>
        <i class='fa fa-facebook' role="button"></i>
        <i class='fa fa-twitter' role="button"></i>
        <i class='fa fa-google' role="button"></i>
        <i class='fa fa-linkedin' role="button"></i>
        <i class='fa fa-github' role="button"></i>
    </div>
    <p class="copyright text-center "> © 2022 Copyright: Team 3</p>
</footer>