<div class="hero-testimonials"></div>
<div class="container">
    <div class="testimonial">
        <img class="profile-img" src="https://cdn.pixabay.com/photo/2016/12/19/21/36/woman-1919143_1280.jpg" alt="...">
        <h5 class="testimonial-title">Caroline</h5>
        <div class="testimonial-body">

            <p class="testimonial-text">We hired Florian to photograph our wedding. Florian did an amazing job! We have so many great pictures of the day and can’t get over what an amazing eye he has. Florian was wonderful to work with. He was relaxed and low-key but prompt and
                professional at the same time. I really appreciated his flexibility as we planned our wedding from out of town, and his patience with me as I hate getting my picture taken. Florian was great to have around on the day of. He was patient
                with us and and able to calmly deal with some pushy relatives. We are so happy with our pictures and know we made the right decision to capture our wedding day.</p>
        </div>
    </div>
    <div class="testimonial">
        <img class="profile-img" src="https://cdn.pixabay.com/photo/2017/11/23/07/47/baby-2972221_1280.jpg" alt="...">
        <h5 class="testimonial-title">Rebecca</h5>
        <div class="testimonial-body">
            <p class="testimonial-text">Florian is such a talented and patient photographer. And patience is key when you are photographing a two-week old! Florian is generous with his time, laid-back and fun, and makes you feel comfortable in front of his camera. He captures organic
                interactions so beautifully but also offers direction when you are unsure about what to do. Even when you feel like a hot mess (think super pregnant in the middle of a summer) and are hoping for just one good photo, he miraculously sends
                you like 100 amazing photos! Florian's photographs are truly timeless, and he creates art out of everyday moments.</p>
        </div>
    </div>
    <div class="testimonial">
        <img class="profile-img" src="https://cdn.pixabay.com/photo/2016/11/23/00/57/adult-1851571_1280.jpg" alt="...">
        <h5 class="testimonial-title">Matt</h5>
        <div class="testimonial-body">
            <p class="testimonial-text">Stop searching and hire Florian Stone! He's got a very special talent for capturing the atmosphere and understanding his clients' personalities. This is why everyone he photographs looks so natural and at ease. Even the most awkward photographee
                will immediately feel comfortable with him. He's also got a great eye for details and knows how to frame photos depending on the architecture/setting. Most of my favorite wedding photos are the easily-forgettable behind-the-scenes moments
                that Florian realized would be thoughtful to memorialize. I don't think there's many photographers who think to capture all the small details as much as the big picture. 100% recommend.</p>
        </div>
    </div>
</div>