<div class="hero-testimonials"></div>
<h1 class="heading text-center mt-4 mb-5">Testimonials</h1>
<div class="container mb-3 mt-5">
    <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="d-flex justify-content-center align-items-center" style="max-width: 540px;">
                    <div class="m-3">
                        <img class="logo" src="./assets/img/logos/bmw.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Florian was excellent to work with. He was communicative and flexible in the run up to the photo shoot, and delivered some beautiful and engaging architectural focused photography for our client Land Securities. We’d certainly
                            recommend Florian for anyone looking to capture urban or architectural focused imagery.</p>
                        <p class="card-text fst-italic text-center">HANNAH ABBOT - CONSULTANT - BMW</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex justify-content-center align-items-center" style="max-width: 540px;">
                    <div class="m-3">
                        <img class="logo" src="./assets/img/logos/adidas.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Florian is a consummate professional and a brilliant visual story teller. We recently collaborated on a (cinemagraph based) social content project for Adidas. Florian quickly understood the concept of the campaign and his interpretation
                            of the brief was spot on. I look forward to our next project together."</p>
                        <p class="card-text fst-italic text-center">SEBASTIAN GRAY - DIR. CONTENT & SOCIAL-ADIDAS</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex justify-content-center align-items-center" style="max-width: 540px;">
                    <div class="m-3">
                        <img class="logo" src="./assets/img/logos/creative_agency.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Working with Florian has been such a pleasure, not only is he enthusiastic and charming – he also produces work that I can’t wait to show my clients. He takes direction really well, and is incredibly flexible. Highly recommended!
                        </p>
                        <p class="card-text fst-italic text-center">MR PRESIDENT - CREATIVE AGENCY</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex justify-content-center align-items-center" style="max-width: 540px;">
                    <div class="m-3">
                        <img class="logo" src="./assets/img/logos/brewery.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Totally blown away by Florian's capabilities. After coming by for a photoshoot of our shiny new brewery (which we used to great avail over the whole of our launch) he then introduced us to cinemagraphs which have proved an incredible
                            addition to our shiny new website. The guy is a total swiss army knife, able of covering any visual requirements thrown his way.</p>
                        <p class="card-text fst-italic text-center">NICK LENNON - CREATIVE DIRECTOR - BREWERY</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex justify-content-center align-items-center" style="max-width: 540px;">
                    <div class="m-3">
                        <img class="logo" src="./assets/img/logos/soft_rock.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Florian was a pleasure to work with. He offered great additional creative input and delivered great images that were a successful part of our campaign. I look forward to working with him again.</p>
                        <p class="card-text fst-italic text-center">JAMES POTTER - MANAGING DIRECTOR - SOFT ROCK</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex justify-content-center align-items-center" style="max-width: 540px;">
                    <div class="m-3">
                        <img class="logo" src="./assets/img/logos/bookshop.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Florian was timely in all communication, quick to produce cinemagraphs and an absolute professional. Above all, his style is fun, perceptive and (without direction) he made sure to incorporate and uphold our brands image and style.
                            Highly recommend.</p>
                        <p class="card-text fst-italic text-center">STEPHANIE MAYER - PROJECT MANAGER - BOOKSHOP</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next" style="color: #344E41;"></div>
        <div class="swiper-button-prev" style="color: #344E41;"></div>
    </div>
</div>
<h1 class="heading text-center mb-4">Reviews</h1>
<div class="container">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="./assets/img/fotographer/profile_caroline.jpg" alt="...">
                    <h5 class="testimonial-title">Caroline</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Thank you, thank you, thank you! you are an expert in making everyone feel good, happy and welcome. Oh and a terrific photographer too.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="./assets/img/fotographer/profile_rebecca.jpg" alt="...">
                    <h5 class="testimonial-title">Rebecca</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Florian is truly an outstanding photographer (and wonderful person) with an almost mystical ability to capture the true nature of people and events. I'd recommend him to anyone! </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="./assets/img/fotographer/profile_matt.jpg" alt="...">
                    <h5 class="testimonial-title">Matt</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Your photos are STUNNING! Thank you so, so much. They are all just spectacular and a gift we will treasure always. We are really grateful. You are just amazing, Florian. Just a talented photographer. We can't thank you enough for
                            sharing your craft with us. Thank you! </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="./assets/img/fotographer/profile_laurie.jpg" alt="...">
                    <h5 class="testimonial-title">Laurie</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Wow! You have been such a pleasure to work with and to get to know! You and your photos are so beyond expectations. I love that you don't just take pictures, you capture moments. You are so incredibly talented and we were so lucky
                            to have you! </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="./assets/img/fotographer/profile_ron.jpg" alt="...">
                    <h5 class="testimonial-title">Ron</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Thank you! Thank you! Thank you! A million thank you's to you for capturing the day and night without missing a beat. You were a blast to work with and we loved every minute of it!</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="./assets/img/fotographer/profile_marisa.jpg" alt="...">
                    <h5 class="testimonial-title">Marisa</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Your photos are STUNNING! Thank you so, so much. They are all just spectacular and a gift we will treasure always. We are really grateful. You are just amazing, Florian. Just a talented photographer. We can't thank you enough for
                            sharing your craft with us. Thank you! </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="./assets/img/fotographer/profile_dan.jpg" alt="...">
                    <h5 class="testimonial-title">Dan</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Thank you Florian, as always for taking such amazing images from Abby's Bat Mitzvah. And Annette does an equally wonderful job putting together the story of the day into our album. We look forward to working with you both again
                            soon!
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="./assets/img/fotographer/profile_crystal.jpg" alt="...">
                    <h5 class="testimonial-title">Crystal</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">
                            Thank you ever so much. You have exceeded everyones expectations at our wedding! Thanks a million!
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="./assets/img/fotographer/profile_marcos.jpg" alt="...">
                    <h5 class="testimonial-title">Marcos</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Thank you is simply not enough. You have captured moments that our family will treasure forever. Such a pleasure to know you. We are looking forward to seeing you at out next family event.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-button-next" style="color: #344E41; margin-left: 20px;"></div>
        <div class="swiper-button-prev" style="color: #344E41; margin-right: 20px;"></div>
        <div class="swiper-pagination" style="color: #344E41;"></div>
    </div>