<div class="hero-testimonials"></div>
<div class="container">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="/assets/img/fotographer/profile_caroline.jpg" alt="...">
                    <h5 class="testimonial-title">Caroline</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Thank you, thank you, thank you! you are an expert in making everyone feel good, happy and welcome. Oh and a terrific photographer too.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="/assets/img/fotographer/profile_rebecca.jpg" alt="...">
                    <h5 class="testimonial-title">Rebecca</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Florian is truly an outstanding photographer (and wonderful person) with an almost mystical ability to capture the true nature of people and events. I'd recommend him to anyone! </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="/assets/img/fotographer/profile_matt.jpg" alt="...">
                    <h5 class="testimonial-title">Matt</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Your photos are STUNNING! Thank you so, so much. They are all just spectacular and a gift we will treasure always. We are really grateful. You are just amazing, Florian. Just a talented photographer. We can't thank you enough for
                            sharing your craft with us. Thank you! </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="/assets/img/fotographer/profile_laurie.jpg" alt="...">
                    <h5 class="testimonial-title">Laurie</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Wow! You have been such a pleasure to work with and to get to know! You and your photos are so beyond expectations. I love that you don't just take pictures, you capture moments. You are so incredibly talented and we were so lucky
                            to have you! </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="/assets/img/fotographer/profile_ron.jpg" alt="...">
                    <h5 class="testimonial-title">Ron</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Thank you! Thank you! Thank you! A million thank you's to you for capturing the day and night without missing a beat. You were a blast to work with and we loved every minute of it!</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="/assets/img/fotographer/profile_marisa.jpg" alt="...">
                    <h5 class="testimonial-title">Marisa</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Your photos are STUNNING! Thank you so, so much. They are all just spectacular and a gift we will treasure always. We are really grateful. You are just amazing, Florian. Just a talented photographer. We can't thank you enough for
                            sharing your craft with us. Thank you! </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="/assets/img/fotographer/profile_dan.jpg" alt="...">
                    <h5 class="testimonial-title">Dan</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Thank you Florian, as always for taking such amazing images from Abby's Bat Mitzvah. And Annette does an equally wonderful job putting together the story of the day into our album. We look forward to working with you both again
                            soon!
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="/assets/img/fotographer/profile_crystal.jpg" alt="...">
                    <h5 class="testimonial-title">Crystal</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">
                            Thank you ever so much. You have exceeded everyones expectations at our wedding! Thanks a million!
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial">
                    <img class="profile-img" src="/assets/img/fotographer/profile_marcos.jpg" alt="...">
                    <h5 class="testimonial-title">Marcos</h5>
                    <div class="testimonial-body">
                        <p class="testimonial-text">Thank you is simply not enough. You have captured moments that our family will treasure forever. Such a pleasure to know you. We are looking forward to seeing you at out next family event.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-button-next" style="color: #344E41;"></div>
        <div class="swiper-button-prev" style="color: #344E41;"></div>
        <div class="swiper-pagination" style="color: #344E41;"></div>
        <!-- <div class="swiper-pagination"></div> -->
    </div>