.list-style {
    list-style: none;
    font-size: 19px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 350;
}

.list-style2 {
    list-style: none;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.titel {
    height: 70vh;
    background-image: url("/assets/img/fotographer/photographer_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// .photo {
//     height: 100vh;
//     background-image: url("/assets/img/fotographer/photographer_2.jpg");
//     background-repeat: no-repeat;
//     background-position: cover;
//     background-position: center;
// }
li {
    list-style: none;
}

.award {
    img {
        height: 20rem;
    }
}