<div class="titel m-5 shadow-lg">

</div>

<div class="row m-5 shadow-lg">
    <!-- <h1 class="heading text-center p-4">about us - biography</h1> -->
    <div class="list-style col-lg-4 mt-5" style="font-family: sans-serif;">


        <ul>
            <li class="list-style">
                Visual services, photography and/or image processing from a single source.</li>
            <li class="mt-4 list-style">
                For more than nine years we have been working in our large photo studio or onLocation for a wide variety of customers on a wide variety of projects and support them in presenting their company, their service or their product in the best possible way.</li>
            <li class="mt-4 list-style">
                The perfect technical equipment as a basis, as well as a high degree of know-how, flexibility and creativity are of course essential - whether for general visual communication, a high-quality advertising motif, business portraits or for hundreds of product
                photos.
            </li>
            <li class="mt-4 list-style">
                Depending on the requirements, our team consists of up to 12 specialists from the fields of photography, styling, design, food styling, hair & make-up, set construction, decoration, organization, CGI and of course image processing. Whatever you want to
                show - we will stage it wonderfully.</li>
            <li class="mt-4 list-style">
                Do you just need the "finishing touches" for your images or advice on visual issues? We are also happy to support you with visual communication or in post-production / image processing and finish your own image material at the highest level.</li>
        </ul>
    </div>

    <div class="col-lg-4 mt-4 d-flex justify-content-top" style="font-family: Pacifico;">
        <ul>
            <li class="mt-3 list-style2"><i class="bi bi-camera"></i> Consulting / conception / brainstorming</li>
            <li class="mt-4 list-style2"><i class="bi bi-camera"></i> People / Portrait / Business</li>
            <li class="mt-4 list-style2"><i class="bi bi-camera"></i> Produkt / Food / Drink</li>
            <li class="mt-4 list-style2"><i class="bi bi-camera"></i> Beauty / Fashion / Campaign</li>
            <li class="mt-4 list-style2"><i class="bi bi-camera"></i> 3D & 360° Produktfotos</li>
            <li class="mt-4 list-style2"><i class="bi bi-camera"></i> Motion / Cinemagraphs</li>
            <li class="mt-4 list-style2"><i class="bi bi-camera"></i> Procurement & production of props / model scouting</li>
            <li class="mt-4 list-style2"><i class="bi bi-camera"></i> Hotellerie / Gastronomie
            </li>
            <li class="mt-4 list-style2"><i class="bi bi-camera"></i> Architektur / Interieur
            </li>
        </ul>
    </div>

    <div class="col m-4">

        <div class="text-center justify-content-top">
            <img class="-img-top p-2" src="./assets/img/fotographer/photographer_2.jpg" alt=" image cap" style="width: 100%;">
            <div>
                <h5 class="text-center mt-2">Photographer Prof. Dr. Mag. Florian Stone</h5>
                <p class="list-style" style="font-size: 18px;">I love to teach people the basics of fotography. Gaining experience through many years I've also had the pleasure to teach a lot of people the basics of fotography and see how they enjoy and love their new hobby.</p>
                <p class="list-style2 fw-bold" style="font-size: 20px; color:#588157;">Learn how to capture your greatest moments yourself!</p>
                <div class="text-center">
                    <a routerLink="/contact" ng-click="onActivate()" class="btn px-5" style="font-size: 18px;color:white; background-color: rgb(163,177,138);">Ask me a question</a>
                    <a routerLink="/details" (click)="goToPortfolio()" class="btn px-5 m-3" style="font-size: 18px;color:white; background-color: #588157;;">See my portfolio</a>
                </div>
            </div>


        </div>
    </div>

</div>

<div class="m-5 shadow-lg">
    <div class="flex-column flex-lg-row d-flex justify-content-center align-items-center mb-2">
        <div style="transform: scale(0.8)">
            <div class="award text-light"><img class="img-fluid" src="./assets/img/award1.png" alt="">
            </div>
        </div>

        <div style="transform: scale(0.8);">
            <div class="award"><img class="img-fluid" src="./assets/img/award2.png" alt="">
            </div>
        </div>



    </div>
</div>