<div class="d-flex justify-content-center pb-5">
    <div class="portfolio row row-cols-1 row-cols-md-2 row-cols-lg-3" >
        <div routerLink="{{picId}}" *ngFor="let category of portCat" (click)="categoryF(category.name)" class="col p-0">
            <div class="card m-1 border-0 shadow" style="cursor:pointer;">
                <img src="{{ category.image }}" class="card-img" alt="...">
                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                    <div class="card-text port-font-size p-2" style="background-color: rgba(44, 40, 40, 0.295); font-weight: 400;">
                        {{ category.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>