@import "../../styles.scss";

.carousel-ouside, 
.carousel-inside,
.carousel-btns,
.carousel img {
    height: 100%;
    max-height: 60vh;
}

.carousel-outside {
    .btn-green {
        background-color: $fernGreen;
        color: white
    }
    .carousel-item:nth-child(1) {
        img {
            object-position: top;
        }
    }
    .carousel-item {
        img {
            object-position: center;
            object-fit: cover;
        }
        .carousel-caption {
            color: white;
            text-shadow: 5px 5px 5px black;
            width: fit-content;
            height: fit-content
        }
        
    }
    
}

